/*============ GOOGLE FONTS =================*/
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v15/rax8HiqOu8IVPmn7f4xs.ttf) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Caveat Regular'), local('Caveat-Regular'), url(https://fonts.gstatic.com/s/caveat/v7/Wnz6HAc5bAfYB2Q7ZjYd.ttf) format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Courier Prime Regular'), local('CourierPrime-Regular'), url(https://fonts.gstatic.com/s/courierprime/v1/u-450q2lgwslOqpF_6gQ8kELawFpXw.ttf) format('truetype');
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Domine'), local('Domine-Regular'), url(https://fonts.gstatic.com/s/domine/v7/L0x8DFMnlVwD4h3hu_qi.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v16/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMB.ttf) format('truetype');
}
@font-face {
  font-family: 'Ma Shan Zheng';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ma Shan Zheng Regular'), local('MaShanZheng-Regular'), url(https://fonts.gstatic.com/s/mashanzheng/v5/NaPecZTRCLxvwo41b4gvzkXadMPmCA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans Caption'), local('PTSans-Caption'), url(https://fonts.gstatic.com/s/ptsanscaption/v12/0FlMVP6Hrxmt7-fsUFhlFXNIlpcaeg_0.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtU2Gg.ttf) format('truetype');
}
/*======== VARIABLES & MIXINS================*/
.image-shadow {
  display: flex;
  box-shadow: 2px 2px 5px grey;
  background-color: dimgray;
}
/*========= RESET & GLOBALS =================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
/*================ NAVIGATION ===============*/
#heading {
  background-image: url(../images/burger-and-vegetables-placed-on-brown-wood-surface-1565982.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  box-shadow: 0 2px 10px grey;
}
#heading nav {
  display: flex;
  align-self: center;
  font-size: 3rem;
  text-decoration: none;
  text-align: center;
}
#heading nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#heading nav ul li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.166);
  margin: 7% 0;
  padding: 4% 25%;
  border-radius: 15px;
  font-family: 'Courier Prime', monospace;
}
#heading nav ul li a:hover {
  color: aliceblue;
  opacity: 0.85;
  background-color: rgba(0, 0, 0, 0.386);
  box-shadow: 0 0 3px 2px rgba(0, 136, 255, 0.673);
}
#heading #searchbar1 {
  display: flex;
  align-self: center;
  width: 30%;
  border-radius: 25px;
  padding: 16px;
}
#heading #searchbar1 input {
  padding: 16px;
  width: 100%;
  font-size: 2rem;
  border-radius: 25px;
  box-shadow: 1px 1px #9d6403;
}
#heading #searchbar1 .text1 {
  background-image: url(/images/chefPortfolioLogo-Search.jpg);
  background-repeat: no-repeat;
  background-position: center right 10%;
}
@media screen and (max-width: 1520px) {
  #heading #searchbar1 .text1 {
    background-image: none;
  }
}
#heading #searchbar1 .text1:focus {
  box-shadow: 0 0 3px 2px #0088ff;
  outline: none;
  background-image: none;
}
#heading #title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#heading #title h1 {
  display: flex;
  align-self: center;
  color: aquamarine;
  font-size: 11rem;
  font-family: 'Ma Shan Zheng', cursive;
  padding: 20px;
  text-shadow: 2px 2px 5px black;
}
#heading #title p {
  display: flex;
  align-self: center;
  text-align: center;
  width: 50%;
  color: aliceblue;
  font-size: 3.65rem;
  font-family: 'Caveat', cursive;
  padding: 20px;
  text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
}
@media screen and (max-width: 1700px) {
  #heading #title p {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1285px) {
  #heading #title p {
    width: 75%;
  }
}
/*================ HOME-PAGE ================*/
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.container .content-section {
  display: flex;
  align-items: center;
}
.container .featured-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.container .featured-text h1 {
  font-family: 'Bitter', serif;
  font-weight: bold;
  color: black;
  margin: 0;
  text-align: center;
}
.container .featured-text p {
  text-align: center;
  font-family: 'Domine', serif;
  width: 60%;
  padding: 20px 0;
  line-height: 2.5rem;
  padding-bottom: 50px;
}
.container .featured-text p span a {
  text-decoration: none;
  color: black;
}
.container .featured-text p span a:hover {
  color: burlywood;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.container .featured-text .overlay-container {
  position: relative;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.container .featured-text .overlay-container div {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 70%;
}
.container .featured-text .overlay-container div a {
  text-decoration: none;
  color: white;
}
.container .featured-text .overlay-container img {
  display: flex;
  box-shadow: 2px 2px 5px grey;
  background-color: dimgray;
  width: 70%;
  margin-bottom: 2px;
}
.container .featured-text .overlay-container:hover .overlay {
  opacity: 1;
}
.container .featured-chef {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .featured-chef div {
  margin-top: 50px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}
.container .featured-chef div img {
  display: flex;
  box-shadow: 2px 2px 5px grey;
  background-color: dimgray;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 2px;
}
.container .featured-chef h2 {
  font-family: 'Bitter', serif;
  font-weight: bold;
  padding-top: 20px;
}
.container .featured-chef p {
  font-family: 'Domine', serif;
  line-height: 2.5rem;
  text-align: center;
  width: 80%;
  padding: 20px 0;
}
.container .featured-gallery {
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .featured-gallery .gallery-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.container .featured-gallery .gallery-container .gallery-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 74%;
  margin-bottom: 25px;
}
.container .featured-gallery .gallery-container .gallery-overlay a {
  text-decoration: none;
  color: aliceblue;
  font-family: 'Domine', serif;
}
.container .featured-gallery .gallery-container:hover .gallery-overlay {
  opacity: 1;
}
.container .featured-gallery div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 10px 10px;
}
.container .featured-gallery div h2 {
  font-size: 2rem;
  width: 80%;
  text-align: center;
  padding: 20px 0;
}
.container .featured-gallery div img {
  display: flex;
  box-shadow: 2px 2px 5px grey;
  background-color: dimgray;
  width: 85%;
  padding: 15px;
  background-color: aliceblue;
}
.container .browse {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .browse #searchbar2 {
  background-color: black;
  display: flex;
  align-self: center;
  width: 100%;
  border-radius: 25px;
  padding: 16px;
}
.container .browse #searchbar2 input {
  padding: 16px;
  width: 50%;
  font-size: 2rem;
  border-radius: 25px;
  box-shadow: 1px 1px #9d6403;
}
.container .browse #searchbar2 .text1 {
  background-image: url(/images/chefPortfolioLogo-Search.jpg);
  background-repeat: no-repeat;
  background-position: center right 10%;
}
@media screen and (max-width: 1520px) {
  .container .browse #searchbar2 .text1 {
    background-image: none;
  }
}
.container .browse #searchbar2 .text1:focus {
  box-shadow: 0 0 3px 2px #0088ff;
  outline: none;
  background-image: none;
}
.container .browse section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
.container .browse section .browse-overlay-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  margin: 1%;
}
.container .browse section .browse-overlay-container h2 {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.7rem;
  font-family: 'Bitter', serif;
  width: 100%;
}
.container .browse section .browse-overlay-container img {
  width: 100%;
}
.container .browse section .browse-overlay-container .browse-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.container .browse section .browse-overlay-container .browse-overlay a {
  text-decoration: none;
  color: aliceblue;
  font-family: 'Domine', serif;
}
.container .browse section .browse-overlay-container:hover .browse-overlay {
  opacity: 1;
}
/*================ AboutUs ==================*/
.aboutBox {
  text-align: center;
  margin: 1% 10%;
}
@media ( max-width: 500px ) {
  .aboutBox {
    margin: 0 1%;
    text-align: center;
  }
}
.aboutBox .saladBox {
  display: flex;
}
.aboutBox .saladBox .saladPic1 {
  width: 30%;
}
@media ( max-width: 500px ) {
  .aboutBox .saladBox .saladPic1 {
    display: none;
  }
}
.aboutBox .saladBox .saladPic2 {
  display: none;
}
@media ( max-width: 500px ) {
  .aboutBox .saladBox .saladPic2 {
    display: inline-block;
    width: 100%;
  }
}
@media ( max-width: 500px ) {
  .aboutBox .saladBox {
    flex-direction: column;
    align-items: center;
    margin: auto auto;
  }
}
.aboutBox .featBox {
  align-content: center;
  font-size: 3rem;
  padding-top: 3%;
}
@media ( max-width: 500px ) {
  .aboutBox .featBox {
    padding-top: 10%;
  }
}
.aboutBox .tvLogo {
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding-top: 2%;
}
@media ( max-width: 500px ) {
  .aboutBox .tvLogo {
    flex-direction: column;
  }
}
.aboutBox .tvLogo .logo {
  width: 300px;
}
@media ( max-width: 500px ) {
  .aboutBox .tvLogo .logo {
    width: 70%;
    margin-left: 15%;
  }
}
#aboutCenterText {
  font-size: 3rem;
  padding-top: 10vh;
  padding-left: 2%;
  padding-right: 2%;
}
@media ( max-width: 500px ) {
  #aboutCenterText {
    font-size: 2.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
  }
}
/*================ SocialMedia ==============*/
.socialMediaBox {
  text-align: center;
  margin: 2% 10%;
}
@media ( max-width: 500px ) {
  .socialMediaBox {
    margin: 0;
  }
}
.socialMediaBox .socialIcon {
  display: flex;
  justify-content: space-around;
}
/*================ ContactUs ==============*/
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #a16d55;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: white;
  color: #a16d55;
}
/* Add a background color and some padding around the form */
.email {
  border-radius: 5px;
  background-color: #dddddd;
  padding: 20px;
  margin: 0 20%;
  margin-bottom: 5vh;
}
@media ( max-width: 500px ) {
  .email {
    margin: 2% 1%;
  }
}
.contactTitle {
  text-align: center;
}
/*================ Build Team ==============*/
.buildBox {
  text-align: center;
  margin: 2% 7%;
}
@media ( max-width: 500px ) {
  .buildBox {
    margin: 0 1%;
  }
}
.buildBox .teamBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}
.buildBox .teamBox .members {
  width: 17%;
  margin: 0 4%;
  margin-bottom: 2%;
}
@media ( max-width: 500px ) {
  .buildBox .teamBox .members {
    width: 40%;
  }
}
/*================ FOOTER ===================*/
.footer {
  padding-top: 1%;
  background-image: url(../images/woodOG.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  image-rendering: pixelated;
  height: 19vh;
  width: 100%;
  text-decoration: none;
}
@media ( max-width: 500px ) {
  .footer {
    height: 30vh;
  }
}
.footer .navFooter {
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  font-size: 5rem;
  text-decoration: none;
}
@media ( max-width: 500px ) {
  .footer .navFooter {
    flex-wrap: wrap;
    font-size: 5rem;
  }
}
.footer .navFooter a {
  text-decoration: none;
  color: aliceblue;
}
@media ( max-width: 500px ) {
  .footer .navFooter a {
    margin: 0 4%;
  }
}
.footer .copyright {
  color: white;
  padding-top: 1.75%;
  font-size: 3rem;
  text-align: center;
}
@media ( max-width: 500px ) {
  .footer .copyright {
    font-size: 3rem;
    padding-top: 4rem;
  }
}
