/*============ GOOGLE FONTS =================*/
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v15/rax8HiqOu8IVPmn7f4xs.ttf) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Caveat Regular'), local('Caveat-Regular'), url(https://fonts.gstatic.com/s/caveat/v7/Wnz6HAc5bAfYB2Q7ZjYd.ttf) format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Courier Prime Regular'), local('CourierPrime-Regular'), url(https://fonts.gstatic.com/s/courierprime/v1/u-450q2lgwslOqpF_6gQ8kELawFpXw.ttf) format('truetype');
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Domine'), local('Domine-Regular'), url(https://fonts.gstatic.com/s/domine/v7/L0x8DFMnlVwD4h3hu_qi.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v16/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMB.ttf) format('truetype');
}
@font-face {
  font-family: 'Ma Shan Zheng';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ma Shan Zheng Regular'), local('MaShanZheng-Regular'), url(https://fonts.gstatic.com/s/mashanzheng/v5/NaPecZTRCLxvwo41b4gvzkXadMPmCA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans Caption'), local('PTSans-Caption'), url(https://fonts.gstatic.com/s/ptsanscaption/v12/0FlMVP6Hrxmt7-fsUFhlFXNIlpcaeg_0.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtU2Gg.ttf) format('truetype');
}
/*======== VARIABLES & MIXINS================*/
/*========= RESET & GLOBALS =================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
/*================ NAVIGATION ===============*/
#heading {
  background-image: url(../images/burger-and-vegetables-placed-on-brown-wood-surface-1565982.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
#heading nav {
  display: flex;
  justify-content: flex-end;
}
#heading nav ul {
  position: fixed;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 3.5rem;
  text-decoration: none;
  padding-top: 20px;
}
#heading nav a {
  color: aliceblue;
  text-decoration: none;
}
#heading #title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#heading #title h1 {
  display: flex;
  align-self: center;
  color: aquamarine;
  font-size: 6rem;
}
#heading #title p {
  display: flex;
  align-self: center;
  text-align: center;
  width: 50%;
}
/*================ HOME-PAGE ================*/
/*================ AboutUs ==================*/
.aboutBox {
  text-align: center;
  margin: 5% 10%;
  border: 1px solid red;
}
.aboutBox .saladBox {
  border: 1px solid pink;
  display: flex;
  object-fit: scale-down;
}
.aboutBox .featBox {
  align-content: center;
  border: 1px solid blue;
}
.aboutBox .tvLogo {
  border: 1px solid orange;
  align-self: center;
}
#aboutCenterText {
  font-size: 3rem;
  padding-top: 10vh;
  padding-left: 2%;
  padding-right: 2%;
}
/*================ SocialMedia ==============*/
.socialMediaBox {
  text-align: center;
  border: 1px solid red;
  margin: 5% 10%;
}
.socialMediaBox .socialIcon {
  display: flex;
  justify-content: space-around;
}
/*================ FOOTER ===================*/
