.aboutBox {
    text-align: center;
    margin: 1% 10%;
    @media @mobile{
        margin: 0 0;
        text-align: center;
    }
    .saladBox {
        // border: 1px solid pink;
        display: flex;
        @media @mobile{
            text-align: center;
        }
    }
    .featBox {
        //display: flex;
        align-content: center;
        // border: 1px solid blue;
        font-size: 3rem;
        padding-top: 3%;
    }
    .tvLogo {
        // border: 1px solid orange;
        display: flex;
        justify-content: space-around;
        align-self: center;
        padding-top: 2%;
    }
}
#aboutCenterText{
    //color: red;
    font-size: 3rem;
    padding-top: 10vh;
    padding-left: 2%;
    padding-right: 2%;
}