.footer{
    // border: 1px solid red;
    padding-top: 1%;
    background-image: url(../images/woodOG.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    image-rendering: pixelated;
    height: 19vh;
    width: 100%;
    text-decoration: none;
    .navFooter{
        display: flex;
        justify-content: space-around;
        color: aliceblue;
        font-size: 3.5rem;
        text-decoration: none;
        a{
            text-decoration: none;
            color: aliceblue;
    }
   }
   .copyright{
       color: white;
       padding-top: 1.75%;
       font-size: 3rem;
       text-align: center;
   }
}